body{
    background: white;
}

.form-container{
    width: 300px;
    margin: 0 auto;
}

.input-group{
    width: 300px;
    margin: 0 auto;
}

/*.form-group .btn {*/
    /*width: 300px;*/
/*}*/

.page-header h2{
    text-align: center;
}