{% extends "base.html" %}

{% block title %}
    修改邮箱
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/change_password.css') }}">
    <script src="{{ url_for('static',filename='js/zlajax.js') }}"></script>
    <script src="{{ url_for('static',filename='js/change_password.js') }}"></script>
{% endblock %}

{% block profile %}
    <div class="container">
        <div class="page-header">
            <h2>修改密码</h2>
        </div>
        <form action="" method="post">
            <div class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <input type="password" class="form-control" name="old_password" placeholder="旧密码">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="新密码">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password2" placeholder="确认密码">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" id="submit" type="submit">提交</button>
                </div>
                {% if message %}
                    <p style="text-align: center;" class="text-danger">{{ message }}</p>
                {% endif %}
                <p style="display: none;text-align: center;" id="message" class="text-danger"></p>
            </div>
        </form>
    </div>
{% endblock %}