{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename="css/question.css") }}">
{% endblock %}

{% block main %}
    <h3 class="page-title">编辑</h3>
    {% if article %}
        <form action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-container">
                <div class="form-group">
                    <input type="text" placeholder="标题" name="title" class="form-control" value="{{ article.title }}">
                </div>
                <div class="form-group">
{#                    <textarea name="content" id="content" rows="5" placeholder="内容" class="form-control"></textarea>#}
                    <input type="text" name="content" class="form-control" value="{{ article.content }}" style="height: 100px">
{#                    <div name="content" style="display: block;outline: none">#}
{#                        <span>{{ article.content }}</span>#}
{#                    </div>#}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}