{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename="css/login.css") }}">
    <script src="{{ url_for('static',filename='js/zlajax.js') }}"></script>
    <script src="{{ url_for('static',filename='js/login.js') }}"></script>
{% endblock %}

{% block main %}
{% endblock %}

{% block profile %}
    <div class="container">
        <h3 class="page-title">登录</h3>
        <form action="" method="post">
            <div class="form-container">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
{#                <div class="form-group">#}
{#                    <input type="text" class="form-control" placeholder="手机号码" name="telephone">#}
{#                </div>#}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="手机号码/邮箱" name="account">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" name="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" id="btn-submit-login">登录</button>
                </div>
                <div class="form-group">
                    <a href="{{ url_for('auth.register') }}" class="signup-link">没有帐号？</a>
                    <a href="{{ url_for('auth.password_reset') }}" class="resetpwd-link" style="float: right">找回密码</a>
                </div>
                <p style="display: none;text-align: center;" id="message" class="text-danger"></p>
            </div>
            <span style="display: none" id="return-to-span">{{ return_to }}</span>
        </form>
    </div>
{% endblock %}