{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename="css/articles.css") }}">
{% endblock %}

{% block main %}
    <div class="left-box">
        {% if question %}
            <h3 class="page-title" style="padding-top: 40px">{{ question.title }}</h3>
            <p class="question-info">
                <span>{{ question.users.username }}</span>
                <span>{{ question.create_time }}</span>
            </p>
            <hr>
            <p class="question-content">{{ question.content }}</p>
            <hr>
    {#        <h4>评论</h4>#}
            <form action="{{ url_for('main.comments') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
    {#                <input type="text" class="form-control" placeholder="评论" name="comment_content">#}
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                </div>
            </form>
            {% if current_user == question.users or current_user.is_administrator() %}
                <div class="edit-delete-article">
                    <a href="{{ url_for('.edit_article', article_id=question.id) }}" class="edit-article"><span class="label label-primary">编辑</span></a>
                    <a href="{{ url_for('main.delete_article', article_id=question.id) }}">
                        <span class="label label-danger">删除</span>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="article_id" value="{{ question.id }}">
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}