{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset_password_email.css') }}">
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <script src="{{ url_for('static',filename='js/zlajax.js') }}"></script>
{#    <script src="{{ url_for('static',filename='js/reset_password.js') }}"></script>#}
{% endblock %}

{% block profile %}
    <div class="container">
        <div class="page-header">
            <h2>重置密码</h2>
        </div>
        <form action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-container">
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" placeholder="邮箱">
{#                        <span class="input-group-addon" id="captcha-btn" style="cursor: pointer;">获取验证码</span>#}
                    </div>
                </div>
{#                <div class="form-group">#}
{#                    <div class="input-group">#}
{#                        <input type="text" class="form-control" name="captcha" placeholder="验证码">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <input type="password" class="form-control" placeholder="密码" name="password">#}
{#                </div>#}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" id="submit-btn" name="submit">发送邮件</button>
                </div>
            {% if message %}
                <p style="text-align: center;" class="text-danger">{{ message }}</p>
            {% endif %}
            <p style="display: none;text-align: center;" id="message" class="text-danger"></p>
            </div>
        </form>
    </div>
{% endblock %}